[submodule "network.wiki"]
	path = network.wiki
	url = https://github.com/exomia/network.wiki.git
[submodule "particle-system.wiki"]
	path = particle-system.wiki
	url = https://github.com/exomia/particle-system.wiki.git
